*{margin: 0 auto; padding: 0 auto;padding-inline-start: 0px;}
          /* header Css */
.navList {
  display: flex;
  align-items: center;
  list-style: none;
  color: black;
  margin: 0px;
  background-color: rgba(202, 137, 58, 0.877);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.link{
  color: black;
}

        /* end header css */