#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.red{
  background-color: rgba(255, 0, 0, 0.545);
}

.navBar{
  display: flex;
  flex-direction: row;
}
.header{
  display: flex;
  flex-direction: row;
}
.listSpell:hover{
  transform: scale(1.1);
}
.listSpell {
  margin: 10px;
}
.spellSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.spellDesc {
}

.spellBox:nth-child(even) {
  background-color: #535353;
}
.spellCard, .spellTableHead{
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
}
.spellDetail, .spellHead{
  border: 2px black solid;
  width: 24%;
  justify-content: center;
  padding: 10px;
}
.spellDesc{
  transform: scaley(1);
  transition: all 1s ease-out ;
}